.sidebar {
  flex: 1;
  height: calc(100vh - 60px);
  background-color: rgb(246, 250, 255);
  position: sticky;
  top: 50px;
  left: 0;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}
.sidebarMenu {
  margin-bottom: 20px;
}

.sidebarTitle {
  font-size: 15px;
  color: rgb(173, 173, 173);
}

.sidebarList {
  list-style: none;
  padding: 10px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem:hover {
  background-color: rgb(221, 234, 250);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
